.layout {
  min-height: 100dvh;
}
.cont-asistencias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: .5rem;

  & h2 {
    font-size: 2em;
    margin: .5em 1.5em;
    text-transform: uppercase;
    color: #0056b3;
  }

  & h3 {
    text-align: justify;
    margin: .5em 2em;
  }

  & .asistencias {
    box-shadow: 0 0 5px rgba(0, 0, 0);
    height: 550px;
    overflow-y: auto;
    margin: 0 3em;
  }

  & table {
    width: 100%;
    text-align: center;
  }
  
  & thead {
    width: 100%;
    position: sticky;
    top: 0;
  }

  & th {
    width: 200px;
    background-color: #0056b3;
    color: #fff;
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #333;
  }
  & td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;

    &:first-child {
      border-left: none;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }
}
.col-fecha {
  width: 80px;
  text-align: center;
}

.col-dia {
  width: 90px;
  text-align: center;
}

.col-he,
.col-hs,
.col-ht,
.col-hex {
  width: 60px;
  text-align: center;
}

th, td {
  padding: 4px 6px;
  font-size: 13px;
  text-align: center;
}

.completa {
  background-color: #d4edda;
  color: #155724;
}
.incompleta {
  background-color: #ebd405;
  color: #6e6702;
}
.falta, .licencia-medica, .vacaciones, .suspension, .no-laboral, .otra {
  background-color: #ff7c7c;
  color: #a00303;
}
@media screen and (max-width: 900px) {
  .cont-asistencias {
    & h2 {
      font-size: 1.7em;
    }
  
    & h3 {
      font-size: 1.4em;
      margin: 0;
      margin-left: 2em;
    }
  
    & .asistencias {
      margin: 0;
      margin-left: 3em;
    }
    & th {
      width: 150px;
      padding: .8rem;
    }
    & td {
      padding: .8rem;
    }
  }
}
@media screen and (max-width: 760px) {
  .cont-asistencias {
    & h2 {
      font-size: 1.5em;
    }
  
    & h3 {
      font-size: 1.2em;
    }
  
    & th {
      padding: .3em;
    }
    & td {
      padding: .5em;
    }
  }
}
@media screen and (max-width: 600px) {
  .cont-asistencias {
    margin-bottom: 3em;
    & h3 {
      margin: 0;
    }
    & .asistencias {
      margin: 0;
    }
  }
}