.formulario-datos {
  background: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  margin-left: 15%;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-content: center;
}

.formulario-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  max-width: 300px;
}

.form-group-dpto {
    border: 1px solid #f44336;
    padding: 5px;
    margin: 5px;
    background-color: rgb(231, 231, 229);
}

.form-group-puesto {
    border: 1px solid #f44336;
    padding: 5px;
    margin: 5px;
    background-color: rgb(231, 231, 229);
}

.form-group-categoria {
    border: 1px solid #f44336;
    padding: 5px;
    margin: 5px;
    background-color: rgb(231, 231, 229);
}

.form-group-categoria input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  margin: 10px;
}

.botones-form button{
    background-color: #4caf50;
    color: white;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .formulario-datos {
        margin-left: auto;
    }
}