.cont-reco {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  text-align: center;
}
.logo_shain-flow {
  margin: 1em auto;
  & img {
    max-width: 200px;
  }
}
.cont-camara {
  background-color: #fff;
  border-radius: 100%;
  & .camara {
    width: 100%;
    max-width: 450px;
    height: 450px;
    margin: auto;
    background-image: url("/usuario.png");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.mensaje-guia {
  font-weight: 700;
  max-width: 400px;
  margin: 1em auto;
}
.btn-reconocimiento {
  background-color: #d61103;
  color: white;
  border: none;
  padding: 15px 20px;
  margin-bottom: 2em;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  &:hover {
    background-color: #a50d02;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}
.cont-alternativa {
  margin-bottom: 1em;
  & span {
  font-weight: 700;
  }
}